body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ff0066;
    color: white;
    padding: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

input, button {
    padding: 5px;
    margin: 2px;
}

#saveBtn, #resetBtn {
    margin: 10px;
    padding: 10px 20px;
    background-color: #0072bc;
    color: white;
    border: none;
    cursor: pointer;
}
